/* Style the about content container */
#about-content {
	width: 100%;
	padding-right: 6%;
	padding-left: 6%;
}

/* Style the slideshow container */
#slideshow {
	float: left;
	width: 49%;
	margin-right: 14.67%;
	margin-bottom: 50px;
	margin-left: 3%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
  	justify-content: center;
}

/* Slideshow */
#slideshow img {
	width: 100%;
	height: auto;
	image-rendering: high-quality;
}

/* Style the house details container */
#house-details {
	float: left;
	width: 33.33%;
	padding-right: 3%;
	padding-left: 3%;
	line-height: 200%;
}

/* House details the heading */
#house-details h2 {
	margin-top: 0;
	color: #C75000;
}

/* List of House Details */
#house-details ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	font-size: 17px;
}

/* Make webpage fit on tablets with smaller screens */
@media only screen and (max-width: 1024px) {
	#about-content {
		padding-right: 0;
		padding-left: 0;
	}
	#slideshow {
		float: none;
		width: 100%;
		padding-right: 0;
		margin-left: 0;
	}
	 #house-details {
		float: none;
		width: 100%;
		padding: 40px 6%;
		margin-top: 60px;
		background-color: #EDEDED;
		border-top-width: 3px;
		border-top: double orange;
		border-spacing: 5px;
	}
	#house-details h2 {
		margin-top: 17px;
		text-align: center;
		text-transform: uppercase;
	}
	#house-details ul {
		margin-bottom: 10px;
		text-align: center;
		line-height: 44px;
	}
}

/* Make webpage fit on mobile phones with smaller screens */
@media only screen and (max-width: 768px) {
	#house-details {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	#house-details ul {
		font-size: 16px;
	}
}