/* Style the amenities container */
#amenities-content {
	width: 100%;
	padding-right: 6%;
	padding-left: 9%;
}

/* Aligns amenties next to each other */
#amenities {
	float: left;
	width: 50%;
	padding-left: 1px;
}

/* Style the amenities list container */
#amenities ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 50px;
}

/* Headings for each amenity type */
#amenities h2 {
	color: #C75000;
}

/* List of amenities */
#amenities li {
	line-height: 150%;
	font-size: 17px;
	list-style-type: circle;
	list-style-position: inside;
}

/* Make webpage fit on tablets with smaller screens */
@media only screen and (max-width: 1024px) {
	#amenities-content {
		padding-right: 3%;
		padding-left: 3%;
	}
}

/* Make webpage fit on mobile phones with smaller screens */
@media only screen and (max-width: 768px) {
	#amenities-content {
		border-top-width: 3px;
		border-top: double darkorange;
		border-spacing: 5px;		
	}
	#amenities {
		float: none;
		width: 100%;
		padding-left: 0;
		text-align: center;
	}
	#amenities ul {
		margin-bottom: 30px;
	}
	#amenities h2 {
		text-transform: uppercase;
	}
	#amenities li {
		float: none;
		width: 100%;
		margin-bottom: initial;
		line-height: 300%;
		font-size: 16px;

		/*Remove list-style-type of circle bullet points*/
		display: block;
	}
	#amenities:first-child {
		padding-top: 38px;
	}
	#amenities:last-child {
		padding-bottom: 10px;
	}
}