/* Defines how the width and height of an element are calculated: should they include padding and borders, or not. */
* {
	box-sizing: border-box;
}

/* Prepare the body style */
body {
	margin: 0;
	width: 100%;
	font-family: Geneva, Verdana, sans-serif;
	background-color: white;
	color: #333;
}

/* Clear floats after the columns */
#row:after {
	content: "";
	display: table;
	clear: both;
}

/* Style all links with Anchor Pseudo-classes */
a:link {	
	color: inherit;
	
	/* Remove the underline*/
	text-decoration: none;
}

/* Refresh a visited link */
a:visited {
	color: inherit;
}

/* Change the navigation menubar and footer links when user hovers over it with a mouse */
#navbar a:hover, #footer a:hover {
	color: #C75000;
	text-decoration: underline;
}

/* Navigation menu bar container */
#navbar {
	width: 100%;
	height: 150px;
	padding: 0 6%;
	margin-bottom: 0;
	border-bottom-width: 3px;
	border-bottom: double darkorange;
	border-spacing: 5px;
}

/* Logo container inside the navbar */
#navbar-logo {
	float: left;
	width: 16.66%;
	height: inherit;
	padding-bottom: 5%;
	padding-left: 3%;
}

/* Logo image */
#navbar-logo img {
	width: 100%;
	max-height: 150px;
	max-width: 164px;
	display: inline-block;
}

/* Navigation menu bar */
#navbar-column {
	float: left;
	width: 83.34%;
	height: inherit;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 3%;
	font-weight: bold;
}

/* Navigation menu bar items */
#navbar-column a {
	float: left;
	width: 20%;		
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: "Noto Sans", sans-serif;*/ /* Google font */
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border-left: 2px solid darkorange;
}

/* Remove left border of first menu bar item */
#navbar-column a:first-child {
	border-left: none;
}

/* Content area heading */
h1 {
	padding: 12px 9%;
	margin-top: 38px;
	margin-bottom: 38px;
	text-align: center;
}

/* Footer container */
#footer {
	width: 100%;
	padding-right: 6%;
	padding-left: 6%;
	border-top-width: 3px;
	border-top: double darkorange;
	border-spacing: 5px;
}

/* Three columns in the footer */
#footer-column {	
	float: left;
	width: 33.33%;
	padding: 50px 3%;
	text-align: center;
}

/* Footer headings */
#footer-column h3 {
	color: #C75000;
}

/* Links inside the footer */
#footer-column a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
}

/* Make webpage fit on tablets with smaller screens */
@media only screen and (max-width: 1024px) {
	#navbar {
		height: 140px;
		padding-right: 0;
		padding-left: 0;
	}
	#navbar-logo {
		text-align: center;
		padding-left: 1.5%;
	}
	#navbar-column {
		padding-left: 0;
	}
	#navbar-column a {
		font-size: 17px;
	}
	h1 {
		padding-right: 3%;
		padding-left: 3%;
		margin-top: 28px;
		margin-bottom: 28px;
		font-size: 29px;
	}
	#footer {
		padding-right: 0;
		padding-left: 0;
	}
	#footer-column {
		padding:  40px 1.5%;
	}
	#footer-column a {
		font-size: 17px;
	}
}

/* Make webpage fit on mobile phones with smaller screens */
@media only screen and (max-width: 768px) {
	#body {
		font-family: Georgia, serif;
	}
	#navbar {
		height: initial;
		border-bottom: none;
	}
	#navbar-logo {
		float: none;
		width: 100%;
		padding-bottom: 0;
		padding-left: 0;
	}
	#navbar-column {
		float: none;
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;

		/* necessary setting for fat finger friendly rule */
		line-height: 44px;
	}
	#navbar-column a {
		float: none;
		display: block;
		width: 100%;
		background-color: #FFB42B;
		font-size: 21px;
		font-weight: bold;
		border-bottom: 1px solid grey;
		border-left: none;
	}
	#navbar-column a:first-child {
		border-top: 1px solid grey;		
	}
	h1 {
		padding: 30px 6%;
		margin-top: 0;
		margin-bottom: 0;
	}
	#footer-column {
		float: none;
		display: block;
		width: 100%;
		padding-right: 6%;
		padding-left: 6%;
	}
	#footer-column:nth-child(2) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#footer-column:last-child {
		padding-bottom: 50px;
	}
	#footer-column a {
		font-size: 18px;

		/* necessary setting for fat finger friendly rule */
		line-height: 44px;
	}
}

/* Copyright */
#copyright {
	text-align: center;
}