/* Style the container for the House Tour Video */
#house-tour-content {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;    
    position: relative;
    overflow: hidden;

    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) set for YouTube video */
    padding-top: 56.25%;
}

/* House Tour Video */
#house-tour-content iframe {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 9%;
    padding-left: 9%;
}

/* Make webpage fit on tablets with smaller screens */
@media only screen and (max-width: 1024px) {
    #house-tour-content iframe {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Make webpage fit on mobile phones with smaller screens */
@media only screen and (max-width: 768px) {
    #house-tour-content iframe {
        border-top: 10px solid white;
        border-bottom: 10px solid white;
        background-color: white;
    }
}