/* Style the Cancellation Policies container */
#cancellation-policies {
	width: 100%;
	display: flex;
	padding-right: 9%;
	padding-bottom: 50px;
	padding-left: 9%;
}

/* Paragraphs with conent */
#cancellation-policies p {
	margin-top: 0;
	padding-right: 3%;
	padding-left: 3%;
	font-size: 17px;
	text-align: center;
	line-height: 1.5em;
}

/* Make webpage fit on tablets with smaller screens */
@media only screen and (max-width: 1024px) {
	#cancellation-policies {	
		display: block;
		padding-right: 3%;
		padding-bottom: 40px;
		padding-left: 3%;
	}
	#cancellation-policies p {
		padding-right: 0;
		padding-left: 0;
	}
}

/* Make webpage fit on mobile phones with smaller screens */
@media only screen and (max-width: 768px) {
	#cancellation-policies {
		padding-right: 6%;
		padding-bottom: 30px;
		padding-left: 6%;
	}
	#cancellation-policies p {
		font-size: 16px;
		line-height: 200%;
	}
}