/* Style the find us container */
#find-us {
	width: 100%;
	padding-right: 6%;
	padding-left: 6%;
}

/* Create contact and map column next to each other */
/* Contact details container */
#contact {
	float: left;
	width: 52%;
	padding-right: 3%;
	padding-left: 3%;
}

/* Map container */
#map {
	float: left;
	width: 45%;	
	height: 320px;
	margin-right: 3%;
	margin-bottom: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

/* Fit the map into the container */
#map iframe {
	height: 320px;
	width: 100%;
	border: 0;
}

/* All headings inside the contact column */
#contact h2 {
	/*font-size: 22px;*/
	color: #C75000;
}

/*Remove spacing from secondary heading for content*/
#contact h2:first-child {
	margin-top: 0;
}

/* Paragraphs with conent */
#contact p {
	font-size: 17px;
}

/* Add spacing below the last paragraph */
#contact p:last-child {
	margin-bottom: 50px;
}

/* Reset the color of the phone number link */
#contact a {
	color: inherit;
}

/* Change Sally's phone number link when user hovers over it with a mouse */
#contact a:hover {
	color: #C75000;
	text-decoration: underline;
}

/* Make webpage fit on tablets with smaller screens */
@media only screen and (max-width: 1024px) {
	#find-us {
		padding-right: initial;
		padding-left: initial;
	}
	#contact {
		padding-left: 6%;
	}
	#contact p {
		line-height: 200%;
	}
	#contact p:last-child {
		margin-bottom: 40px;
	}
}

/* Make webpage fit on mobile phones with smaller screens */
@media only screen and (max-width: 768px) {
	#find-us {
		padding-right: 6%;
		padding-left: 6%;
		border-top-width: 3px;
		border-top: double darkorange;
		border-spacing: 5px;		
		padding-top: 38px;
	}
	#contact {
		float: none;
		width: 100%;
		padding-right: initial;
		padding-left: initial;

		/* necessary setting for fat finger friendly rule */
		line-height: 44px;
	}
	#contact h2 {		
		text-transform: uppercase;
	}
	#map {
		float: none;
		width: 100%;	
		margin-bottom: 58px;
	}
	#contact {
		text-align: center;
	}
	#contact p {
		font-size: 16px;
	}	
}