/* Style the enticing activities container */
#enticing-activities {
	float: left;
	width: 100%;
	padding-right: 6%;
	padding-left: 6%;
	margin-bottom: 50px;
}

/* Two columns containing enticing activities */
#column {
	float: left;
	width: 45%;
	min-height: 350px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: padding-box;
	display: flex;
	align-items: center;
  	justify-content: center;
}

/* First enticing column with an image background */
#column:first-child {
	margin-right: 2%;
	margin-left: 3%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/stroll-down-the-beach-free-from-pxhere.com.jpg");
}

/* Second or last enticing column with an image background */
#column:last-child {
	margin-right: 3%;
	margin-left: 2%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/pool-area.jpg");
}

/* Container with text and button overlay for the enticing column and backgroun image */
#text-container {
	padding-right: 1.2%;
	padding-left: 1.2%;
	margin: 20px;
	text-align: center;
}

/* First paragraph overlay */
#text-container p {
	font-size: 16px;
  	color: white;
}

/* Second paragraph overlay */
#text-container h2 {
	font-size: 21px;
  	color: white;
  	font-weight: bold;
  	text-transform: uppercase;
}

/* Action button overlay */
#text-container h3 {
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(5px);
  	backdrop-filter: blur(5px);
  	padding: 20px 1.2%;
	margin: 1.8%;
	font-size: 26px;
  	font-weight: bold;
  	text-transform: uppercase;
}

/* Style the action button overlay link */
#text-container a {
	color: orange;	
}

/* Change the button style when the user hovers over it with a mouse */
#text-container a:hover {
	text-decoration: underline;
}

/* Information Banner container */
#information-banner {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-top-width: 3px;
	border-top: double orange;
	border-spacing: 5px;
	background-color: #2e2e2e;
}

/* Information Banner paragraphs */
#information-banner p {
	margin-right: 9%;
	margin-left: 9%;
	color: white;
	font-size: 17px;
	line-height: 150%;
}

/* Contrasted text within the information banner */
#information-banner p:nth-child(3) {
	margin-right: 9%;
	margin-left: 9%;
	color: #FF6600;
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	line-height: 300%;	
}

/* Information Banner links */
#information-banner a {
	color: inherit;
	font-weight: bold;
}

/* Change the links inside the Information Banner when user hovers over it with a mouse */
#information-banner a:hover {
	color: #FF6600;
	text-decoration: underline;
}

/* Make webpage fit on tablets with smaller screens */
@media only screen and (max-width: 1024px) {
	#enticing-activities {		
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 58px;
	}
	#column {
		float: none;
		height: 450px;
		box-shadow: none;
	}
	#column:first-child {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	#column:last-child {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	#text-container p {
		font-size: 19px;
	}
	#text-container h2 {
		font-size: 24px;		
	}
	#text-container h3 {
		font-size: 29px;
	}
	#information-banner p:nth-child(3) {
		margin-right: 3%;
		margin-left: 3%;
	}
	#information-banner p {
		margin-right: 3%;
		margin-left: 3%;
	}
}

/* Make webpage fit on mobile phones with smaller screens */
@media only screen and (max-width: 768px) {
#information-banner {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	#information-banner p:nth-child(3) {
		margin-right: 6%;
		margin-left: 6%;
	}
	#information-banner p {
		font-size: 16px;
		margin-right: 6%;
		margin-left: 6%;

		/* necessary setting for fat finger friendly rule */
		line-height: 44px;
	}
}